<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Example 4</title>
    <!-- Inclusion de la lib angular-->
    <script src="bower_components/angular/angular.js"></script>

    <script>
        // creation de lu module angular
        var app = angular.module('exampleApp', []);

        // creation du controleur
        app.controller('exampleCtrl', function($scope) {

            $scope.name = 'paul';
            $scope.timestamp = Date.now();
            $scope.price = 12000;
            $scope.personnes = [
                {
                    "name": "Audrey Johns",
                    "company": "SUREMAX"
                },
                {
                    "name": "Rosales Brennan",
                    "company": "MAXEMIA"
                },
                {
                    "name": "Nina Lott",
                    "company": "SEQUITUR"
                },
                {
                    "name": "Robyn Emerson",
                    "company": "LUMBREX"
                },
                {
                    "name": "Norman Jones",
                    "company": "ZOUNDS"
                }
            ];
        });


    </script>
</head>
<!-- Creation de l'app angular-->
<body ng-app="exampleApp">
    <!-- Appel du controleur -->
    <section ng-controller="exampleCtrl">
        <h2>Example 4</h2>

        <h3></h3>
        <ul>
            <li>{{ name | uppercase}}</li>
            <li>{{ timestamp | date:'dd-MM-yyyy'}}</li>
            <li>{{ price | currency }}</li>
            <li>{{ price | number }}</li>
        </ul>

        <h3>Search</h3>
        <label>Tous</label>
        <input type="text" ng-model="search.$"/>

        <label>Name</label>
        <input type="text" ng-model="search.name"/>

        <label>Company</label>
        <input type="text" ng-model="search.company"/>

        <ul ng-repeat="personne in personnes | filter:search">
            <li>{{ personne.name }} de {{ personne.company }}</li>
        </ul>

    </section>
</body>
</html>